html,body{
 font-family: 'Oswald';
	width:100%;
	height:100%;
}

#Introduction{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-41px;
	margin-left:-223px;
	font-size:100px;
}

.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	background-size: 100%;
	position: relative;
	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}

#slide1{
	background-image:url('../background/first.jpg');
}
#slide2{
	background-image:url('../background/first.jpg');
}

#slide3{
	background-image:url('../background/first.jpg');	
}
.box{
	background-attachment: fixed;
	background:#4CC6EF;
	width:100%;
	height:400px;
	position:relative;
	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}